{% extends 'layouts/base.html.twig' %}

{% block title chapitre.titre %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mx-auto">
            <article class="bg-white rounded shadow pin">
                <div class="p-3">
                    <h1 class="h5 text-decoration-none text-secondary">{{ chapitre.titre }}</h1>

                </div>
            </article>
        </div>
    </div>
{% endblock %}