<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Panterest{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        <main role="main" class="container">
            {% block body %}{% endblock %}
        </main>

        {{ include('layouts/partials/_footer.html.twig') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
