@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'shared/_variables.scss';
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $primary-font, sans-serif;
}

.heart {
  color: gainsboro;
  font-size: 200%;
  @include hover() {
    color: red;
  }
}
.favoris{
  color: red;
}

.alert{
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success{
         background-color: green;
     }

    &.alert-error{
         background-color: red;
     }

    &.alert-info{
         background-color: blue;
     }
}
