{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'existe pas <a href="{{ path('app_home') }}">retour à la page d'accueil</a>.
    </p>
{% endblock %}